<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>页面不见了</title>
    <style>
        html,body {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .image {
            display: block;
            width: 300px;
        }
        .title {
            font-weight: lighter;
            font-size: 25px;
            margin: 15px;
        }
    </style>
</head>
<body>
    <img src="/public/image/404.jpg" class="image"/>
    <div class="title">页面不见了... ...</div>
</body>
</html>