<!DOCTYPE html>
<html lang="en">
<head>
  <title>FontAwesome 助手</title>
  <meta charset="utf-8">
  <meta http-equiv="keywords" content="">
  <meta http-equiv="description" content="">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <link href="http://fontawesome.hukaihe.com/public/image/logo_gold.png" rel="icon" sizes="32x32" type="image/png" />
  <link href="https://cdn.bootcss.com/animate.css/3.5.2/animate.css" rel="stylesheet">
  <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
  <link href="http://localhost:8080/styles/editor-bundle.css" rel="stylesheet"/>
</head>

<body>
  <div id="app" class="app"></div>
  <script>
    window.componentTypeInfoList = {{{componentTypeInfoList}}}
    window.componentInfoGroup = {{{componentInfoGroup}}}
  </script>
  <script src="http://localhost:8080/javascripts/editor-bundle.js"></script>
</body>
</html>